@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 10 10 10;
  }

  .dark {
    --background: 10 10 10;
    --foreground: 237 237 237;
  }

  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-300;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
